In [297]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [639]:
ins_qual = pd.read_excel('Institutional Quality Variables.xlsx', 'L-Bureaucracy Quality', header = 7, index_col = 0)

In [640]:
countries = [
    "Argentina", "Brazil", "Bulgaria", "Chile", "China", "Colombia", "Czechia",
    "Egypt, Arab Rep.", "Estonia", "Hungary", "Indonesia", "Israel", "Kenya",
    "Korea, Rep.", "Latvia", "Lithuania", "Malaysia", "Mexico", "Morocco",
    "Peru", "Philippines", "Poland", "Romania", "Slovak Republic", "Sri Lanka",
    "Tanzania", "Thailand", "Turkiye", "Ukraine", "Venezuela, RB", "Zimbabwe"
]

In [641]:
ins_qual = ins_qual.iloc[:, 11:]
ins_qual[2017] = np.nan
ins_qual.reset_index(inplace = True)

In [645]:
missing_coun = [i for i in countries if i not in ins_qual['Country'].tolist()]

countries_original = ["Argentina", "Brazil", "Bulgaria", "Chile", "China", "Colombia", "Czech Republic", "Czechoslovakia",
    "Egypt", "Estonia", "Hungary", "Indonesia", "Israel", "Kenya",
    "South Korea", "Latvia", "Lithuania", "Malaysia", "Mexico", "Morocco",
    "Peru", "Philippines", "Poland", "Romania", "Slovakia", "Sri Lanka",
    "Tanzania", "Thailand", "Turkey", "Ukraine", "Venezuela", "Zimbabwe"]

ins_qual_temp = ins_qual[ins_qual['Country'].isin(countries_original)]
ins_qual_temp = ins_qual_temp[ins_qual_temp['Country'] != 'Czechoslovakia']

In [647]:
ins_qual_temp['Country'] = countries

In [649]:
ins_data = pd.melt(ins_qual_temp, id_vars = ['Country'], value_vars = [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,  2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], var_name = 'Year', value_name ='INS')

In [651]:
ins_data.set_index(['Country', 'Year'], inplace=True)
ins_data['INS'] = ins_data.groupby('Country')['INS'].bfill()
ins_data['INS'] = ins_data.groupby('Country')['INS'].ffill()

ins_data = ins_data.reset_index()

In [653]:
ins_data.isnull().sum()

Country    0
Year       0
INS        0
dtype: int64

In [655]:
bank_data = pd.read_excel('L Banking Crises New.xlsx', 'BC 4 categories')
bank_data = bank_data[(bank_data['year']>=1995) & (bank_data['year']<=2017)]
bank_data = bank_data.drop(['LBC', 'LBC_3', 'LBC_4', 'RBC'], axis = 1)

In [656]:
bank_data.isnull().sum()

country     0
year        0
LBC_2      76
dtype: int64

In [659]:
data_prep = pd.concat([bank_data, ins_data], axis = 1)
data_prep.drop(['Country', 'Year'], axis = 1, inplace = True)

In [661]:
data_prep.isnull().sum()

country     0
year        0
LBC_2      76
INS         0
dtype: int64

## Capital Controls

In [664]:
CapConVar = pd.read_excel('F_CC.xlsx', 'kai and kao(self)')

In [665]:
CapConVar

       Country  year  eqi  eqo  dbi  dbo  fii  fio       kai       kao
0    Argentina  1995  0.0  1.0  0.0  2.0    0    0  0.000000  0.333333
1       Brazil  1995  0.0  1.0  0.0  0.0    0    0  0.777778  0.666667
2     Bulgaria  1995  0.0  1.0  0.0  1.0    0    0  0.500000  0.583333
3        Chile  1995  0.0  1.0  0.0  1.5    1    0  1.000000  0.833333
4        China  1995  0.0  1.0  0.0  1.5    1    0  1.000000  1.000000
..         ...   ...  ...  ...  ...  ...  ...  ...       ...       ...
708   Thailand  2017  0.0  0.0  0.0  0.0    0    0  0.700000  0.750000
709     Turkey  2017  0.0  0.0  0.0  0.0    0    0  0.650000  0.750000
710    Ukraine  2017  0.0  0.0  0.0  0.0    0    0  0.700000  0.950000
711  Venezuela  2017  0.0  0.0  0.0  0.0    0    0  0.850000  0.500000
712   Zimbabwe  2017  0.0  0.0  0.0  0.0    0    0  0.000000  0.000000

[713 rows x 10 columns]

In [666]:
data_prep = pd.concat([data_prep, CapConVar.drop(['Country', 'year'], axis = 1)], axis = 1)

In [667]:
data_prep

,country,year,LBC_2,INS,eqi,eqo,dbi,dbo,fii,fio,kai,kao
0,Argentina,1995,NaN,2.0,0.0,1.0,0.0,2.0,0,0,0.000000,0.333333
1,Brazil,1995,NaN,3.0,0.0,1.0,0.0,0.0,0,0,0.777778,0.666667
2,Bulgaria,1995,NaN,2.0,0.0,1.0,0.0,1.0,0,0,0.500000,0.583333
3,Chile,1995,NaN,2.0,0.0,1.0,0.0,1.5,1,0,1.000000,0.833333
4,China,1995,NaN,2.666667,0.0,1.0,0.0,1.5,1,0,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,0.700000,0.750000
709,Turkey,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,0.650000,0.750000
710,Ukraine,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.700000,0.950000
711,Venezuela,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.850000,0.500000
712,Zimbabwe,2017,0.0,1.5,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000

In [672]:
data_prep.isnull().sum()

country     0
year        0
LBC_2      76
INS         0
eqi         0
eqo         0
dbi         0
dbo         0
fii         0
fio         0
kai         0
kao         0
dtype: int64

## Other Variables

In [675]:
def ConvertConVarTab(df, value_col_name):
  df = pd.melt(df, id_vars = ['Country Name'], value_vars = [1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,  2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], var_name = 'year', value_name = value_col_name)
  return df

ConVarTabs = ['GDPGR', 'GDPPC' , 'IFR' , 'IR', 'XM' , 'M2R', 'CPGDP', 'CG', 'CPG', 'CPI']

ConVar = pd.DataFrame()

for i in range(len(ConVarTabs)):
  df = pd.read_excel('Control Variables.xlsx', ConVarTabs[i])
  df = ConvertConVarTab(df, ConVarTabs[i])
  if i == 0:
    ConVar = df
  else:
    ConVar = pd.concat([ConVar, df.iloc[:,2]], axis=1)

ConVar = ConVar.rename(columns = {'Country Name' : 'Country'})

In [676]:
ConVar

,Country,year,GDPGR,GDPPC,IFR,IR,XM,M2R,CPGDP,CG,CPG,CPI
0,Argentina,1995,-2.845210,10003.091689,0.036091,14.230000,-1.983460,3.252356,19.679623,-0.319970,NaN,38.801600
1,Brazil,1995,4.223794,6584.739221,0.660070,41.200000,-2.357366,4.815316,43.036729,-21.709275,NaN,36.640316
2,Bulgaria,1995,2.855051,4021.722817,0.620548,-23.985650,-0.135909,5.354971,27.516662,-26.028675,NaN,1.627491
3,Chile,1995,8.933296,7297.138663,0.082326,5.801214,-1.837514,1.769357,47.600311,1.635000,NaN,57.324284
4,China,1995,10.953954,1520.026785,0.167912,-1.412648,0.220325,9.059912,83.097311,-1.676535,NaN,74.079786
...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,4.177681,6247.992078,0.006656,2.469715,9.631027,2.794962,112.084069,1.109985,NaN,111.286809
709,Turkiye,2017,7.501997,11835.261106,0.111443,20.143682,-4.758694,4.297041,65.937283,-0.594055,NaN,174.968703
710,Ukraine,2017,2.359972,2246.738525,0.144383,-4.680484,-3.098388,2.416236,31.145640,-9.001983,NaN,235.299204
711,"Venezuela, RB",2017,-15.700000,3806.635000,1.696144,NaN,0.043000,NaN,NaN,NaN,NaN,7388.174000
712,Zimbabwe,2017,4.709492,1479.376056,0.008940,3.742846,-1.542184,21.313759,16.758158,-0.223454,NaN,105.508414

In [679]:
data_prep

,country,year,LBC_2,INS,eqi,eqo,dbi,dbo,fii,fio,kai,kao
0,Argentina,1995,NaN,2.0,0.0,1.0,0.0,2.0,0,0,0.000000,0.333333
1,Brazil,1995,NaN,3.0,0.0,1.0,0.0,0.0,0,0,0.777778,0.666667
2,Bulgaria,1995,NaN,2.0,0.0,1.0,0.0,1.0,0,0,0.500000,0.583333
3,Chile,1995,NaN,2.0,0.0,1.0,0.0,1.5,1,0,1.000000,0.833333
4,China,1995,NaN,2.666667,0.0,1.0,0.0,1.5,1,0,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,0.700000,0.750000
709,Turkey,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,0.650000,0.750000
710,Ukraine,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.700000,0.950000
711,Venezuela,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,0.850000,0.500000
712,Zimbabwe,2017,0.0,1.5,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000

In [681]:
data_prep = pd.concat([data_prep, ConVar.drop(['Country', 'year'], axis = 1)], axis = 1)

In [683]:
data_prep.isnull().sum()

country     0
year        0
LBC_2      76
INS         0
eqi         0
eqo         0
dbi         0
dbo         0
fii         0
fio         0
kai         0
kao         0
GDPGR       0
GDPPC       0
IFR         0
IR         47
XM          0
M2R         5
CPGDP       6
CG         14
CPG        68
CPI         0
dtype: int64

In [685]:
data_prep.set_index(['country', 'year'], inplace = True)

In [687]:
missing_var = ['IR', 'M2R', 'CPGDP', 'CG', 'CPG']

for i in missing_var:
  data_prep[i] = data_prep.groupby('country')[i].ffill()
  data_prep[i] = data_prep.groupby('country')[i].bfill()

data_prep.reset_index(inplace = True)

In [693]:
data_prep

,country,year,LBC_2,INS,eqi,eqo,dbi,dbo,fii,fio,...,GDPGR,GDPPC,IFR,IR,XM,M2R,CPGDP,CG,CPG,CPI
0,Argentina,1995,NaN,2.0,0.0,1.0,0.0,2.0,0,0,...,-2.845210,10003.091689,0.036091,14.230000,-1.983460,3.252356,19.679623,-0.319970,0.196420,38.801600
1,Brazil,1995,NaN,3.0,0.0,1.0,0.0,0.0,0,0,...,4.223794,6584.739221,0.660070,41.200000,-2.357366,4.815316,43.036729,-21.709275,-2.258937,36.640316
2,Bulgaria,1995,NaN,2.0,0.0,1.0,0.0,1.0,0,0,...,2.855051,4021.722817,0.620548,-23.985650,-0.135909,5.354971,27.516662,-26.028675,23.167930,1.627491
3,Chile,1995,NaN,2.0,0.0,1.0,0.0,1.5,1,0,...,8.933296,7297.138663,0.082326,5.801214,-1.837514,1.769357,47.600311,1.635000,3.875852,57.324284
4,China,1995,NaN,2.666667,0.0,1.0,0.0,1.5,1,0,...,10.953954,1520.026785,0.167912,-1.412648,0.220325,9.059912,83.097311,-1.676535,5.441036,74.079786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,...,4.177681,6247.992078,0.006656,2.469715,9.631027,2.794962,112.084069,1.109985,-2.115143,111.286809
709,Turkey,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,...,7.501997,11835.261106,0.111443,20.143682,-4.758694,4.297041,65.937283,-0.594055,2.687511,174.968703
710,Ukraine,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,...,2.359972,2246.738525,0.144383,-4.680484,-3.098388,2.416236,31.145640,-9.001983,-8.428166,235.299204
711,Venezuela,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,...,-15.700000,3806.635000,1.696144,-16.539976,0.043000,9.679430,39.514618,4.306000,9.758476,7388.174000
712,Zimbabwe,2017,0.0,1.5,0.0,0.0,0.0,0.0,0,0,...,4.709492,1479.376056,0.008940,3.742846,-1.542184,21.313759,16.758158,-0.223454,-1.025707,105.508414

In [695]:
X_list = ['eqi', 'eqo', 'dbi', 'dbo', 'fii', 'fio', 'kai', 'kao', 'INS', 'GDPGR', 'GDPPC', 'IR', 'XM', 'M2R', 'CPGDP', 'CG', 'CPG']

In [697]:
for i in X_list:
  data_prep[f'lag_{i}'] = data_prep.groupby('country')[i].shift(1)
data_prep.dropna(inplace=True)

In [699]:
data_prep

,country,year,LBC_2,INS,eqi,eqo,dbi,dbo,fii,fio,...,lag_kao,lag_INS,lag_GDPGR,lag_GDPPC,lag_IR,lag_XM,lag_M2R,lag_CPGDP,lag_CG,lag_CPG
33,Bulgaria,1996,1.0,2.0,1.0,1.0,0.0,1.5,1,1,...,0.583333,2.0,2.855051,4021.722817,-23.985650,-0.135909,5.354971,27.516662,-26.028675,23.167930
34,Chile,1996,0.0,2.416667,0.5,1.0,0.0,2.0,1,1,...,0.833333,2.0,8.933296,7297.138663,5.801214,-1.837514,1.769357,47.600311,1.635000,3.875852
35,China,1996,0.0,2.5,0.5,1.5,1.0,1.5,1,1,...,1.000000,2.666667,10.953954,1520.026785,-1.412648,0.220325,9.059912,83.097311,-1.676535,5.441036
36,Colombia,1996,0.0,3.0,0.5,1.5,2.0,1.5,1,1,...,0.687500,3.0,5.202438,4118.628027,19.541325,-4.881644,3.604165,33.566792,2.589817,1.651608
37,Czech Republic,1996,1.0,3.0,2.0,1.5,6.0,3.0,1,1,...,0.666667,3.0,6.500814,11219.150065,3.655583,-2.283604,2.799425,64.937612,-0.715535,-1.856631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,...,0.750000,2.0,3.435158,6018.177484,1.785119,10.508359,3.017639,113.740963,2.895169,-2.115143
709,Turkey,2017,0.0,2.0,0.0,0.0,0.0,0.0,0,0,...,0.750000,2.0,3.323084,11187.053638,6.654827,-3.108913,4.582250,65.283754,-0.943231,2.687511
710,Ukraine,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,...,0.950000,1.0,2.440982,2185.317139,1.827570,-1.998800,2.777603,38.598736,-9.350624,-8.428166
711,Venezuela,2017,0.0,1.0,0.0,0.0,0.0,0.0,0,0,...,0.500000,1.0,-17.000000,3676.297000,-16.539976,-0.127000,9.679430,39.514618,4.306000,9.758476
712,Zimbabwe,2017,0.0,1.5,0.0,0.0,0.0,0.0,0,0,...,0.000000,1.5,0.755869,1433.608776,4.998563,-3.394138,13.846696,17.018645,-1.217123,-1.025707

In [705]:
model_test = logit("LBC_2 ~ lag_GDPGR + lag_GDPPC + lag_IR + lag_XM + lag_M2R + lag_CPGDP + lag_CG + lag_CPG + lag_kai + lag_INS + lag_kai:lag_INS", data=data_prep)
# result = model_test.fit_regularized(alpha=0.1, method='l1') # alpha = 0.1, method='l1' are examples only, adjust it for your need
result = model_test.fit_regularized(alpha=0.1, method='l1')
print(result.summary())

D:\Anaconda\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
D:\Anaconda\Lib\site-packages\statsmodels\discrete\discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))

Optimization terminated successfully    (Exit mode 0)
            Current function value: 0.0912886922180767
            Iterations: 403
            Function evaluations: 422
            Gradient evaluations: 403

D:\Anaconda\Lib\site-packages\statsmodels\base\l1_solvers_common.py:71: ConvergenceWarning: QC check did not pass for 2 out of 60 parameters
Try increasing solver accuracy or number of iterations, decreasing alpha, or switch solvers
  warnings.warn(message, ConvergenceWarning)
D:\Anaconda\Lib\site-packages\statsmodels\base\l1_solvers_common.py:144: ConvergenceWarning: Could not trim params automatically due to failed QC check. Trimming using trim_mode == 'size' will still work.
  warnings.warn(msg, ConvergenceWarning)

LinAlgError: Singular matrix

In [594]:
data_prep.columns

Index(['country', 'year', 'LBC_2', 'INS', 'eqi', 'eqo', 'dbi', 'dbo', 'fii',
       'fio', 'kai', 'kao', 'GDPGR', 'GDPPC', 'IFR', 'IR', 'XM', 'M2R',
       'CPGDP', 'CG', 'CPG', 'CPI'],
      dtype='object')

In [75]:
var = ['eqi', 'eqo', 'dbi', 'dbo', 'fii', 'fio', 'kai','kao', 'INS']

for i in var : 
    data_prep['lag_' + i] = data_prep.groupby('Country')[i].shift(1)

In [77]:
data_prep

,Country,year,eqi,eqo,dbi,dbo,fii,fio,kai,kao,...,LBC_2,lag_eqi,lag_eqo,lag_dbi,lag_dbo,lag_fii,lag_fio,lag_kai,lag_kao,lag_INS
0,Argentina,1995,0.0,1.0,0.0,2.0,0,0,0.000000,0.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Brazil,1995,0.0,1.0,0.0,0.0,0,0,0.777778,0.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bulgaria,1995,0.0,1.0,0.0,1.0,0,0,0.500000,0.583333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Chile,1995,0.0,1.0,0.0,1.5,1,0,1.000000,0.833333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,China,1995,0.0,1.0,0.0,1.5,1,0,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,Thailand,2017,0.0,0.0,0.0,0.0,0,0,0.700000,0.750000,...,0.0,0.5,1.0,0.5,0.5,1.0,0.0,0.70,0.75,7.5
709,Turkey,2017,0.0,0.0,0.0,0.0,0,0,0.650000,0.750000,...,NaN,0.5,1.0,0.5,1.0,1.0,0.0,0.65,0.75,NaN
710,Ukraine,2017,0.0,0.0,0.0,0.0,0,0,0.700000,0.950000,...,0.0,1.5,1.0,2.0,1.5,1.0,0.0,0.70,0.95,7.333333
711,Venezuela,2017,0.0,0.0,0.0,0.0,0,0,0.850000,0.500000,...,NaN,1.5,1.0,5.5,2.5,1.0,0.0,0.85,0.50,NaN
712,Zimbabwe,2017,0.0,0.0,0.0,0.0,0,0,0.000000,0.000000,...,0.0,1.5,1.0,5.5,2.5,1.0,0.0,0.00,0.00,6.0

In [83]:
data_prep['lag_INS_factor'] = pd.cut(data_prep['lag_INS'], 3, labels=["bad", "medium", "good"])

In [101]:
import statsmodels.api as sm
import statsmodels.api as sm
from statsmodels.formula.api import logit

In [109]:
model_test = logit("LBC_2 ~  lag_kai:lag_INS", data=data_prep)
# result = model_test.fit_regularized(alpha=0.1, method='l1') # alpha = 0.1, method='l1' are examples only, adjust it for your need
result = model_test.fit()
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

D:\Anaconda\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
D:\Anaconda\Lib\site-packages\statsmodels\discrete\discrete_model.py:2443: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q * linpred)))

LinAlgError: Singular matrix